* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 16;
  font-family: serif;
}
.container {
  width: 800px;
  margin: 50px auto;
}
h1 {
  margin-bottom: 50px;
}
p {
  line-height: 1.5em;
}
li {
  margin-left: 60px;
}
.custinfo {
  margin: 50px 0;
}
.userError,
.passwordError {
  color: red;
}
